.card {
    border-radius: 15px;
  }
  
  .card-header {
    font-size: 20px;
    font-weight: bold;
  }
  
  .btn-success {
    font-size: 18px;
  }
  
  .form-control {
    border-radius: 10px;
  }
  .card-header{
    background-color: #b07ddd;
  }
  #custom-alert {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
  }
  
  #custom-alert.show {
    display: block;
    animation: fadeOut 2s forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -50px;
    }
  }
  